.card {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	max-width: 80%;
	margin: 0 auto;
	border-radius: 15px;
	padding: 10px;
	background: rgb(24, 24, 26);
	box-shadow: inset 2px 2px 10px 0px #000;
}

.description {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.card_header {
	line-height: 40px;
	text-align: center;
	font-size: 24px;
	color: #dd6ba3;
}

.card_text {
	text-align: center;
	margin-top: 0;
	color: rgb(211, 224, 234);
}

.upload {
	width: 85%;
	border: 2px dashed rgb(211, 224, 234);
	padding: 5px;
	border-radius: 15px;
	margin-bottom: 30px;
	display: flex;
	flex-direction: column;
}

.sent {
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.sent_input {
	border-radius: 6px;
	padding: 5px;
	margin-bottom: 15px;
}

.copy_btn {
	background-color: #dd6ba3;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.back_container {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	cursor: pointer;
}

.back_icon {
	color: rgb(211, 224, 234);
	width: 25px;
	padding: 10px;
}

.copy_icon {
	width: 25px;
}

.upload_textUp {
	margin-top: 10px;
	font-weight: bold;
}

.upload_text {
	text-align: center;
	color: rgb(211, 224, 234);
}

.input_container {
	display: flex;
}

input[type="file"] {
	color: rgb(211, 224, 234);
	display: flex;
	padding: 7px;
}

input[type="file"]::file-selector-button {
	margin: 10px auto;
	display: block;
	background-color: rgb(211, 224, 234);
	padding: 10px 20px;
	border-radius: 15px;
	color: rgb(27, 26, 26);
	cursor: pointer;
}

.upload_btn {
	background-color: #8880e1;
	margin: 10px auto;
	border: none;
	padding: 10px 20px;
	border-radius: 15px;
	cursor: pointer;
	box-shadow: 5px 5px 5px 0 rgb(24, 24, 26), 0px 0px 6px 0 #8880e1;
}

.active {
	background: rgb(40, 40, 44);
}

@media only screen and (min-width: 320px) {
	.card {
		margin-top: 0;
	}

	.card_header {
		line-height: 30px;
	}

	.upload {
		margin-bottom: 5px;
	}
}

@media only screen and (min-width: 360px) {
	.upload {
		margin: 10px 0 50px 0;
	}
}

@media only screen and (min-width: 768px) {
	.card {
		margin: 0 auto 0 auto;
		padding: 30px;
	}

	.sent_input {
		border-radius: 8px;
		padding: 10px;
		width: 350px;
		font-size: 22px;
	}

	.back_icon {
		width: 35px;
	}

	.copy_btn {
		width: 70px;
		height: 70px;
	}

	.copy_icon {
		width: 35px;
	}

	.card_header {
		font-size: 32px;
	}

	.card_text {
		font-size: 26px;
	}

	.upload {
		padding: 15px;
		margin: 30px 0 50px 0;
	}

	.upload_text {
		font-size: 24px;
	}

	input[type="file"] {
		font-size: 24px;
		margin: 0 auto;
	}

	input[type="file"]::file-selector-button {
		padding: 15px 25px;
	}

	.upload_btn {
		margin: 30px auto;
		padding: 15px 25px;
		font-size: 24px;
	}
}

@media only screen and (min-width: 1024px) {
	.sent_input {
		width: 500px;
	}

	.copy_btn {
		margin-top: 10px;
	}
}

@media only screen and (min-width: 1200px) {
	.card {
		flex-direction: row-reverse;
		margin: 0;
		padding: 20px;
		position: relative;
	}

	.sent {
		padding: 10px;
	}

	.sent_input {
		border-radius: 6px;
		padding: 5px;
		margin-bottom: 15px;
	}

	.back_container {
		position: absolute;
		top: 0;
		margin: 10px 20px 0 0;
	}

	.back_icon {
		color: rgb(211, 224, 234);
		width: 25px;
		padding: 10px;
	}

	.copy_btn {
		background-color: #dd6ba3;
		border-radius: 50%;
		width: 40px;
		height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
	}

	.copy_btn:hover {
		background-color: #c15b8c;
	}

	.copy_icon {
		width: 25px;
	}

	.description {
		padding: 20px;
	}

	.card_header {
		font-size: 24px;
	}

	.card_text {
		font-size: 18px;
	}

	.upload {
		padding: 5px;
		margin: 20px;
	}

	.upload_text,
	.upload_textUp,
	input[type="file"],
	input[type="file"]::file-selector-button,
	.upload_btn {
		font-size: 18px;
	}

	.upload_btn:hover {
		background-color: #6861ab;
	}
}
