.tabs {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.tab {
	padding: 10px 10px 5px 10px;
	background: rgb(24, 24, 26);
	color: rgb(211, 224, 234);
}

.tab_send,
.tab_receive {
	display: flex;
	justify-content: center;
	width: 70px;
}

.tab_send {
	border-top-left-radius: 15px;
}

.tab_receive {
	border-top-right-radius: 15px;
}

.tab_active {
	background: rgb(11, 11, 11);
	color: rgb(172, 181, 188);
}

@media only screen and (min-width: 320px) {
	.tabs {
		margin-top: 0;
	}
}

@media only screen and (min-width: 360px) {
	.tabs {
		margin-top: 50px;
	}
}

@media only screen and (min-width: 375px) {
	.tabs {
		margin-top: 30px;
	}
}

@media only screen and (min-width: 414px) {

.tab {
	padding: 15px 15px 10px 15px;
	width: 85px;
}
}

@media only screen and (min-width: 768px) {
	.tabs {
	margin-top: 5px;
}

.tab {
	padding: 20px 20px 10px 20px;
}

.tab_send,
.tab_receive {
	font-size: 26px;
	width: 150px;
}
}

@media only screen and (min-width: 1200px) {

.tab {
	padding: 10px 10px 5px 10px;
	width: 150px;
	cursor: pointer;
	font-size: 20px;
}

.tab:hover {
	background: rgb(0, 0, 0);
	color: rgb(172, 181, 188);
}
}